body{
    margin: 0px;
    background-color: whitesmoke;
}

#header{
    text-align: center;
}

#logo{
    width: 180px;
    height: auto;
}

#menu-bar{
    text-align: center;
    background-color: cadetblue;
}

#menu-bar li{
    display: inline-block;
    padding: 15px 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

#container{
    text-align: center;
    padding: 50px 100px;
}

#about-img{
    width: 100%;
    height: auto;
}

#pra{
    text-align: justify;
    font-size: 18px;
}